<%= form_for(@creation) do |f| %>
  <% if @creation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@creation.errors.count, "error") %> prohibited this creation from being saved:</h2>

      <ul>
      <% @creation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
